* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    ;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.navbar img {
    padding: 10px;
}

.navbar-link {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #10232c;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #10232c;
}



/*side nav bar  */
.side-navbar {
    background-color: #10232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 20px;
    color: white;
    transition: 0s;


}

.side-navbar-links {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;

}

.side-navbar-links a:hover {
    text-decoration: underline;
    color: white;
   
}

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #10232c;
    color: white;
    cursor: pointer;
}
.header-button:hover{
    background-color: #1096d3;
}

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;

}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #10232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

/* collections */
#carouselExampleAutoplaying {
    border: 3px solid black;
    width: 50%;
    margin-left: 40%;
}

.grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

}

.serve {
    margin-left: 10%;
}

.serve1 {
    margin: 10px;
    font-size: large;
    background-color: #10232c;
    color: #fff;
    text-align: center;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #10232c;
    color: #fff;
}

form {
    width: 50%;
    margin: 50px;
    margin-left: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.submit {
    background-color: #fff;
    color: #000;
    width: 20%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.submit :hover {
    background-color: #10232c;
    color: #f2f4f7;
}
/* mediaquery */
@media screen and (max-width :600px) {


    .navbar-link {
        display: flex;
    }

    .header-img {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}
/* footer */
.footer{
    background-color: #10232c;
    color:#fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.news{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
#int{
    width:50%;
}
#sub{
    margin-left: 47%;
    padding: 10px;
    border: 2px solid black;
    background-color: #10232c;
    color: #fff;
    box-shadow: 2px;

}
#sub:hover{
    background-color: #fff;
    color: #10232c;

}